'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle atom-kancolle'
      'command': 'atom-kancolle:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atom Kancolle'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'atom-kancolle:toggle'
        }
      ]
    ]
  }
]
